# 1 Topic Modeling

## 1.1 Introduction
Another popular text analysis technique is called topic modeling. The ultimate goal of topic modeling is to find various topics that are present in your corpus. Each document in the corpus will be made up of at least one topic, if not multiple topics.

In this notebook, we will be covering the steps on how to do `Latent Dirichlet Allocation` (LDA), which is one of many topic modeling techniques. It was specifically designed for text data.

To use a topic modeling technique, you need to provide 
1) A document-term matrix and
2) The number of topics you would like the algorithm to pick up. 

Once the topic modeling technique is applied, your job as a human is to interpret the results and see if the mix of words in each topic make sense. If they don't make sense, you can try changing up the number of topics, the terms in the document-term matrix, model parameters, or even try a different model.

## 1.2 Topic Modeling - Attempt: 1 (All Text)

In [1]:
# load the document term matrix
import pandas as pd
import pickle
data = pd.read_pickle('data/dtm_stop.pkl')
data

,ab,abc,abducted,abiding,ability,able,abled,abortion,abracadabra,abs,...,zam,zero,zeroing,zeyde,zim,zipped,zippers,zookeeper,zoom,zuko
tom,2,0,0,0,0,1,0,0,0,7,...,3,0,0,0,5,0,0,0,0,0
anthony,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
bill,0,0,0,0,0,0,1,2,0,0,...,0,0,0,0,0,0,0,0,0,0
ali,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,1
ahir,0,0,0,3,1,6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ari,0,0,0,0,0,2,0,0,0,0,...,0,3,0,5,0,0,0,0,0,0
gabriel,0,1,0,0,1,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
nate,0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,1,1,1,0,0
joe,0,0,1,0,0,0,0,0,1,0,...,0,3,0,0,0,0,0,0,1,0

Install the `gensim` library by running following command in terminal:
```shell
conda install -c conda-forge gensim
```

In [2]:
import gensim

In [3]:
from gensim import matutils

In [8]:
from gensim import matutils, models
from scipy import sparse

# import logging
# logging.basicConfig(format='%(asctime)s: %(levelname)s: %(message)s', level=logging.INFO)

In [9]:
tdm = data.transpose()
tdm.head()

          tom  anthony  bill  ali  ahir  ari  gabriel  nate  joe
ab          2        0     0    0     0    0        0     0    0
abc         0        0     0    0     0    0        1     0    0
abducted    0        0     0    0     0    0        0     0    1
abiding     0        0     0    0     3    0        0     0    0
ability     0        0     0    0     1    0        1     1    0

In [12]:
# Convert the TDM to a CSR (Compressed Sparse Row) matrix
sparse_counts = sparse.csr_matrix(tdm)

# Convert the sparse matrix to Gensim corpus format
corpus = matutils.Sparse2Corpus(sparse_counts)

In [13]:
with open('data/cv.pkl', 'rb') as file:
    cv = pickle.load(file)
id2word = dict((v,k) for k, v in cv.vocabulary_.items())

Now that we have the corpus (term-document matrix) and id2word (dictionary of location: term),\
we need to specify two other parameters - the number of topics and the number of passes.

In [14]:
# LDA for two number of topics
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=2, passes=10)

In [15]:
lda.print_topics()

[(0,
  '0.012*"right" + 0.010*"people" + 0.009*"youre" + 0.008*"yeah" + 0.006*"gonna" + 0.006*"think" + 0.005*"uh" + 0.005*"theyre" + 0.005*"fucking" + 0.005*"say"'),
 (1,
  '0.022*"laughing" + 0.009*"youre" + 0.008*"got" + 0.007*"think" + 0.007*"right" + 0.007*"gonna" + 0.006*"people" + 0.006*"time" + 0.006*"theyre" + 0.005*"cheering"')]

In [16]:
# LDA for three number of topics
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=3, passes=10)

In [17]:
lda.print_topics()

[(0,
  '0.001*"youre" + 0.001*"people" + 0.001*"right" + 0.001*"yeah" + 0.001*"think" + 0.000*"gonna" + 0.000*"fucking" + 0.000*"time" + 0.000*"oh" + 0.000*"theyre"'),
 (1,
  '0.011*"people" + 0.011*"right" + 0.010*"youre" + 0.008*"think" + 0.007*"fucking" + 0.007*"yeah" + 0.006*"gonna" + 0.006*"say" + 0.005*"theyre" + 0.005*"got"'),
 (2,
  '0.024*"laughing" + 0.010*"right" + 0.009*"youre" + 0.008*"gonna" + 0.008*"got" + 0.007*"yeah" + 0.007*"want" + 0.006*"time" + 0.006*"think" + 0.006*"theyre"')]

In [18]:
# LDA for four number of topics
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=4, passes=10)

In [20]:
topics = lda.print_topics()

In [24]:
topics[0]

(0,
 '0.035*"laughing" + 0.008*"chuckles" + 0.008*"right" + 0.008*"youre" + 0.007*"gonna" + 0.007*"got" + 0.007*"time" + 0.006*"cheering" + 0.005*"oh" + 0.005*"yeah"')

we can try to modify the parameters to get better topics

## 1.3 Topic Modeling - Attempt: 2 (Nouns Only)
One popular trick is to look only at terms that ar from one part of speech (only nouns, only adjectives, etc). Checkout the Upenn tag set: [Alphabetical list of part-of-speech tags used in the Penn Treebank Project](https://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html).

In [ ]:
from nltk import word_tokenize, pos_tag

def nouns(text):
    """Given a string of text, tokenize the text and pull out only the nouns."""
    is_noun = lambda pos: pos[:2] == 'NN'
    tokenized = word_tokenize(text)
    all_nouns = [ word for (word, pos) in pos_tag(tokenized) if is_noun]
    return ' '.join(all_nouns)

In [ ]:
# Read in the cleaned data, before the CountVectorizer step
data_clean = pd.read_pickle('data/data_clean.pkl')
data_clean

In [ ]:
# Create a new document-term matrix using only nouns 
from sklearn.feature extraction import text 
from sklearn.feature_extraction.text import CountVectorizer 
# Re-add the additional stop words since we are recreating the document-term matrix 
add_stop_words = ['like', 'im', 'know', 'just', 'dont', 'thats', 'right', 'people', 'youre',
                  'got', 'gonna', 'time', 'think', 'yeah', 'said' ]
stop_words = text.ENGLISH_STOP_WORDS.union(add_stop_words) 

# Recreate a document-term matrix with only nouns 
cvn = CountVectorizer(stop_words=stop_words) 
data_cvn =  cvn.fit_transform(data_nouns.transcript) 
data_dtmn = pd.DataFrame(data_cvn.toarray(), columns=ovn.get_feature_names()) 
data_dlmn.index = data_nouns.index 
data_dtmn

In [ ]:
# Convert the TDM to a CSR (Compressed Sparse Row) matrix
# Convert the sparse matrix to Gensim corpus format
corpusn = matutils.Sparse2Corpus(sparse.csr_matrix(data_dtmn.transpose())

In [ ]:
id2wordn = dict((v,k) for k, v in cvn.vocabulary_.items())

In [ ]:
# LDA for four number of topics
ldan = models.LdaModel(corpus=corpusn, id2word=id2wordn, num_topics=2, passes=10)
ldan.print_topics()

## 1.4 Topic Modeling - Attempt:3 (Nouns and Adjectives)

In [ ]:
from nltk import word_tokenize, pos_tag

def nouns(text):
    """Given a string of text, tokenize the text and pull out only the nouns.
    na: noun adjective"""
    is_na = lambda pos: pos[:2] == 'NN' or pos[:2] == 'JJ'
    tokenized = word_tokenize(text)
    all_nas = [ word for (word, pos) in pos_tag(tokenized) if is_na]
    return ' '.join(all_nas)

In [ ]:
data_nas = pd.DataFrame(data_clean.transcript.apply(nas))
data_nas